/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #fff;
  --background-color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  line-height: 1;
}

button {
  border: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip .tooltip-text {
  display: none;
  position: absolute;
  bottom: calc(100% + 5px);
  padding: 1px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-wrap: nowrap;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.hidden {
  display: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: white;
  font-size: 0.8rem;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.app {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--background-color);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.header .main-bar {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header .title img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.header .menu {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.header .menu > * {
  font-size: 1rem;
}

.header .menu-toggle {
  display: none;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1.75rem;
}

.media-container {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: black;
}

.media-container > * {
  position: relative;
}

.media-container .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
}

.media-container .cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s;
}

.controls {
  position: relative;
  z-index: 2;
  background-color: var(--background-color);
  padding: 5px;
}

.controls .progress-bar {
  width: 100%;
  margin-bottom: 5px;
}

.controls .progress-bar .slider {
  width: 100%;
}

.controls .control-menu {
  display: flex;
  gap: 10px;
}

.controls .buttons {
  position: relative;
  display: flex;
  gap: 10px;
}

.controls button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.controls .volume {
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls .volume .icon-container {
  font-size: 1.25rem;
}

.controls .switch {
  display: none;
}

/* Medium screens (Tablets, up to 768px wide) */
@media (max-width: 768px) {
}

/* Small screens (Phones, up to 480px wide) */
@media (max-width: 480px) {

  .tooltip:hover .tooltip-text {
    display: none;
  }

  .header .menu-toggle {
    display: flex;
  }

  .header .menu {
    position: absolute;
    top: 100%;
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-color);
    gap: 25px;
    padding: 15px 5px;
  }

  .header .menu.expanded {
    display: flex;
  }

  .controls .control-menu .switch {
    margin-left: auto;
  }

  .controls .buttons {
    display: none;
  }

  .controls .buttons.active {
    display: flex;
  }

  .fullscreen {
    display: none;
  }

  .controls .switch {
    display: inline-block;
  }
}
